@charset 'utf-8';

/*EXERCICIO 4*/

.caixa{
	display: flex;
	width: 130vh;
	height: auto;
	justify-content: space-evenly;
}

.caixa1{
	border: 1px solid;
	width: 20vh;
	height: 10vh;
	background-color: blue;
	order: 2;
	text-align: center;
}

.caixa2{
	border: 1px solid;
	width: 20vh;
	height: 10vh;
	background-color: yellow;
	order: 4;
	text-align: center;
}

.caixa3{
	border: 1px solid;
	width: 20vh;
	height: 10vh;
	background-color:green;
	order: 1;
	text-align: center;
}

.caixa4{
	border: 1px solid;
	width: 20vh;
	height: 10vh;
	background-color: purple;
	order: 3;
	text-align: center;
}

.caixa5{
	border: 1px solid;
	width: 20vh;
	height: 10vh;
	background-color: red;
	order: 5;
	text-align: center;
}

/*EXERCICIO 3*/

.caixinha{
	display: flex;
	width: auto;
	height: auto;

}
.caixinha5{
	border: 1px solid;
	width: 200px;
	height: 30vh;
	flex-basis: 250vh;
	background-color: blue;
}

.caixinha1{
	border: 1px solid;
	width: 200px;
	height: 30vh;
	background-color: green;
}

.caixinha2{
	border: 1px solid;
	width: 200px;
	height: 30vh;
	background-color: yellow;
}

.caixinha3{
	border: 1px solid;
	width: 200px;
	height: 30vh;
	background-color: purple;
}
.caixinha4{
	border: 1px solid;
	width: 200px;
	height: 30vh;
	background-color: red;
}

/*EXERCICIO 2*/

.box{
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items: center;
}

.box1{
	border: 1px solid;
	width: 200px;
	height: 5vh;
	background-color: red;
	padding: 30px;
}

.box2{
	border: 1px solid;
	width: 200px;
	height: 10vh;
	background-color: blue;
	padding: 30px;
}

.box3{
	border: 1px solid;
	width: 200px;
	height: 20vh;
	background-color: green;
	padding: 30px;
}

 /*EXERCICIO 1*/

.container{
  display: flex;
	width: auto;
	height: auto;

}

.container1{
	border: 1px solid;
	width: 33%;
	height: 33%;
	background-color: red;
}

.container2{
	border: 1px solid;
	width: 33%;
	height: 33%;
	background-color: blue;
}

.container3{
	border: 1px solid;
	width: 33%;
	height: 33%;
	background-color: green;
}